/* CSS Stylesheet
filename:contactcss.css


 */


/* Background vendor specific linear-gradient */



body{
	
	font-family:Verdana, arial, sans-serif;
	font-size:14px;
	border-radius:10px / 20px;
	
}

.panel-heading{
	text-align:center;
}


h3 {
	padding:10px;
	margin:0 0 35px 0;
	font-family: 'Patua One', cursive;
	text-transform: uppercase;
	letter-spacing:1px;
}

p{
	
	font-size:12px;
	line-height:1.6em;
}


.feedinfo{
	text-align:center; 
}
.form-group{
	text-align:left; 
}


.form-horizontal{
	padding:10px; 
}

.btn{
	padding-bottom:5px; 
}







	 
 
 