/* CSS Stylesheet
filename:eventsPage.css


 */
 

/*Body*/


body{
	
	font-family:Verdana, arial, sans-serif;
	font-size:14px;
	
	
}

.eventinfo{	line-height:1.8;
	text-align: justify; 
	padding:20px; 
	
}

.break{
	width:60%;
	border-width:2px; 
	
} 



.mainTitle{
	text-align:center; 
	padding: 10px; 
}

.full-width-bg{
background-color:white;
width: 100%;} 	

.panel{
	padding:20px;
	text-align:center; 
	
}

.heading{
	text-align:center; 
}











