/* CSS Stylesheet
filename:eventsPage.css


 */
 

/*Body*/


p{
	padding:10px; 
}


.mainTitle{
	text-align:center; 
	padding:10px; 
}

td{
	text-align:left;
}

tr:nth-child(even){
	background:#53c68c; 
}


.eventinfo {line-height:1.8;
	text-align: justify; 

	
}

.break{
	width:70%;
	border-width:2px; 
} 


.mainTitle{
	text-align:center; 
	padding: 10px; 
}

.full-width-bg{
background-color:white;
width: 100%;} 	

.panel{
	padding:20px;
	text-align:center; 
	
}

.heading{
	text-align:center; 
}











