/*Green Front Stylesheet*
  CSS Stylesheet
  filename:home.css



/*body style*/




*{margin:0;padding:0px;}


/* Background vendor specific linear-gradient */


body{

	font-family:Verdana, arial, sans-serif;
	font-size:14px;
	background-image:url/(images/lightback.jpg); 
	background-repeat:no-repeat;
	background-attachment:fixed;
	

}

p{	line-height:1.8;
	text-align: justify; 
	padding:20px; 
	
}

.break{
	width:50%;
	

}
	
	

	
/*header h1{ 
	padding:9px 12px 0; 
	font-family:Tahoma, sans-serif, Arial; 
	font-weight:900; 
	font-size:2.6em; 
	line-height:1; 
	letter-spacing:-.025em; 
	color: #ffe6ff;
	

}
header h2{
	padding:20px; 
	font-family:Verdana, sans-serif, Arial; 
	font-weight:500; 
	font-size:1.8em; line-height:1; 
	letter-spacing:-.025em;
	color:white;
	

	
}

h3{
	padding-bottom:12px; 
}*/








img[title="Garden"] {
						border-radius:15px; 
						float:center;
						padding: 20px;
						width:780px;
						height:430px;
						border-width:thin ; 
						
						
				

}

img[title="gardenArticle"] {
							  border-radius:15px 50px; 
							  padding:6px;
							  float:center;
							  width:220px;
							  height:200px;
							  
}






	
.full-width-bg{
background-color:white; /**rgb(238,238,238); **/
width: 100%;} 	





/**Button**/
.btn {
border-radius:10px;
padding:10px
 }
 
 
.main{
	color:#53c68c;
	text-align:center; 
	padding:10px; 
}

.main1{
	text-align:center;
}



/***Additional Style for further development**/



figcaption{
	display: block;
}
	
.thumbnails img {
    
    display: inline;
}


	


