/***Sponsor Stylsheet***/


p{
	text-align: justify; 
	padding:20px; 
}

.subtitle{
	font-size:10px; 
	color:green; 
}

.interest1{
	text-align:center; 
}

.break{
	width:70%;
	border-width:2px; 
	
}
	

.full-width-bg{
background-color:white; /**rgb(238,238,238); **/
width: 100%;} 	


.panel-heading{
	text-align:center; 
	font-size:14px; 
}



.table{
	border-style:solid; 
	border-color:green; 
}


.info{
	text-align:center; 
}

th{
	text-align:center;
}

td{
	text-align:center; 
} 


li{
	line-height:1.5em;
}	
	

				
						
