/*CSS Stylesheet
   
    Filename: teamPage.css
*/



/*body*/
/* apply linear-gradient to background */
 
  
 
  
body{
	
		font-family:Verdana, arial, sans-serif;
		font-size:14px;
		border-radius:10px / 20px; 
		
}

h1{

	color:#004d00;
	
}	

.soil{
	border-radius:15px 50px; 
	float:left; 
	
}
	

.main{
	text-align:center; 
	padding:10px; 
}

.main1{
	text-align:center;
}

.info{
	text-align:center; 
}


	
.description
{
	width: 50%; 
}

p{
	padding:10px;
} 


	


img{
padding: 20px;
}


div#description{
	color:white; 
}
	
.full-width-bg{
background-color:white; 
width: 100%;} 	

.break{
	width:70%;
	border-width:2px; 
	
}







  
  
	

	
	